<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="EasyLayout.Droid.Sample.EasyLayout.Droid.Sample" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="EasyLayout.Droid.Sample"></application>
</manifest>